body {
    display: grid;
    place-items: center;
    text-align: center;
}

.card {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 20px;
    border-radius: 10px;
}

button {
    margin: 5px;

}

ul {
    list-style: none;
}

li {
    margin: 10px;
    text-align: left;
}

span {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    width: 70%;
    margin-left: 15%;
}

span#pedido.bronze {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #Cd7f32;
    color: #ececec;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    font-family: Arial;
}

span#pedido.prata {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #C0c0c0;
    color: #000000;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    font-family: Arial;
}
span#pedido.ouro {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #Ffd700;
    color: #000000;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    font-family: Arial;
}
span#pedido.platina {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f1f1;
    color: #000000;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    font-family: Arial;
}